html{
height:100%;
}

body {
    background-color: lightgrey;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

header{
    padding-top: 10px;
    padding-bottom:5px;
    color: mistyrose;
    clear: left;
    text-align: center;
    background-color: black;
    font-variant: small-caps;
    font-size: 30px;
    font-weight: bold;
}

footer{
    height: 30px;
    background: #2f2a2a;
    text-align: center;
    color:darkgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-top: solid crimson;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a, .drop-btn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #8000ff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

li.dropdown {
    display: inline-block;
}

.tag-line {
    padding-top: 1px;
    padding-bottom:10px;
    color: darkorange;
    clear: left;
    text-align: center;
    background-color: black;
    font-family: 'Tangerine', serif;
    font-size: 25px;
    font-weight: bold;
}

.center {
    text-align: center;
    color: darkcyan;
}

.text-big {
    font-size: 300%;
    font-family:serif;
}

.bold {
    font-weight: bold;
}

.img-medium {
    margin-top:20px;
    height: 200px;
}

.container {
    padding-left:50px;
    padding-right:50px;
}

.login-pane {
    text-align: center;
    max-width: 360px;
    margin: auto;
    background: yellowgreen;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-pane input {
    background: #f2f2f2;
    width: 70%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

.login-pane input[type="submit"] {
    outline: 0;
    background: #4CAF50;
    width: 70%;
    border: 0;
    padding: 15px;
    color: white;
}

.login-pane input[type="submit"]:hover {
  background: #43A047;
}

.warning{
    text-align: center;
    max-width:500px;
    margin: auto;
    margin-bottom:30px;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #9F6000;
    background-color: #FEEFB3;
}

.content{
    flex:1;
}

.poem_title{
    font-family: 'Josefin Sans', sans-serif;
    font-size:25px;
    margin-top:20px;
}

.poem_desc{
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px;
    margin-top:15px;
    margin-bottom:15px;
    color:crimson;
}

.poems{
    border: 1px solid #d6d6d6;
    background-color: #222930;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    overflow: auto;
    max-height:300px;
    color:#E9E9E9;
}

.poemadd{
    border: 1px solid #d6d6d6;
    background: #f2f2f2;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    overflow: auto;
    height:300px;
    color:black;
}

.tpu{
    border: 1px solid #d6d6d6;
    background: #f2f2f2;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color:black;
}

.about-heading{
	font-weight: bold;
	margin-bottom: 5px;
	font-style: italic;
	text-decoration: underline;
}

.about{
  margin-top:10px;
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Quicksand', sans-serif;
  color:black;
}

.action-button
{
	border-radius: 10px;
	font-family: 'Tangerine', serif;
	font-size: 30px;
	font-weight:bold;
	color: #FFF;
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-decoration: none;
	padding:10px;
	position:relative;
	margin:20px auto;
}

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 20px auto;
}

img{
  height:400px;
}

/* Caption text */
.img_text {
  color: #f2f2f2;
  font-size: 12px;
  bottom: 8px;
  position:absolute;
  width:100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 350px) {
  .text {font-size: 9px}
  img{height:200px}
  .about{padding-left:5%;
	 padding-right:5%}
  .action-button{margin:20px}
  .container{padding:0 25px}
  .poem_desc{font-size:15px}
  .poem_title{font-size:20px}
  .tag-line{font-size:20px}
  .poemadd{width:80%}
  .tpu{width:80%}
}
